<div class="container">
    <div class="row duongDan mb-4">
        <p><b>DỊCH VỤ/ </b> <b style="color: #01A0C7;">KHÁM MẮT</b></p>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>Khám mắt toàn diện</h4><br>
        </div>
        <div class="col-12">
            <img src="../../../assets/images/khammat.jpg" alt=""><br><br>
        </div>
        <div class="col-12">
            <p><b>Bệnh viện Mắt Sài Gòn với đội ngũ y bác sĩ giàu kinh nghiệm chuyên môn, thành thạo kỹ năng chăm sóc khách hàng, luôn sẵn sàng mang đến cho quý bệnh nhân đầy đủ các dịch vụ thăm khám lâm sàng và cận lâm sàng chuyên sâu về mắt.</b></p>
        </div>
        <div class="col-12 mt-2">
            <p>Tại tất cả hệ thống Mắt Sài Gòn, quý khách hàng sẽ được trải nghiệm các dịch vụ :</p>
            <p>
                * Kiểm tra sức khỏe mắt toàn diện với quy trình đặc thù cho từng đối tượng người lớn và trẻ em; <br>
                * Khám mắt định kỳ giúp tầm soát các bệnh lý nhãn khoa tiềm ẩn <br>
                * Đo tật khúc xạ (cận – viễn – loạn), kiểm tra thị lực của mắt <br>
                * Khám và điều trị chuyên sâu các bệnh lý của mắt: <br>
                * Đục thủy tinh thể (cườm khô) – Phaco <br>
                * Tật khúc xạ – Smile, Femto lasik <br>
                * Ghép giác mạc <br>
                * Glaucoma (cườm nước) <br>
                * Võng mạc dịch kính – võng mạc tiểu đường, thóa hóa điểm vàng, phẫu thuật bong võng mạc ……. <br>
                * Phẫu thuật lé
            </p>
            <p>Đặc biệt, với hệ thống trang thiết bị y tế cập nhật những tiến bộ mới nhất:</p>
            <p>
                * Hệ thống sinh hiển vi khám mắt HAAG STREIT, kính hiển vi phẫu thuật CARl ZEISS <br>
                * Máy chụp cắt lớp võng mạc ( OCT mắt) Cirius HD model 5000, CARL ZEISS <br>
                * Máy đo thị trường HDT, CARL ZEISS <br>
                * Máy siêu âm E–Z ScanTM AB 5500/Máy siêu âm A-B UD 6000, máy đo công xuất thủy tinh thể IOL Master của Đức <br>
                * Máy Visucam chụp đáy mắt màu <br>
                * Máy PENTACAM <br>
                * Công nghệ Visumax (Carl Zeiss – Đức) máy femto laser hiện đại bật nhất của Đức <br>
                * Máy phẫu thuật cườm khô – phaco: Centurion của MỸ <br>
                * Và nhiều trang thiết bị hiện đại khác
            </p>
            <h5>Quy trình khám mắt tại Bệnh viện Mắt Sài Gòn</h5>
            <p>
                1. Bệnh nhân đến quầy Tiếp tân để cung cấp thông tin cá nhân <br>

                2. Nhân viên sẽ hướng dẫn đến phòng khám bệnh, đợi gọi tên vào khám bệnh. <br>

                3.  Bác sĩ thăm khám, tư vấn, giải thích và kê toa thuốc. <br>

                4. Bệnh nhân có chỉ định phẫu thuật sẽ được hướng dẫn thực hiện theo quy trình phẫu thuật. Nếu bệnh nhân phẫu thuật vào ngày khác sẽ nhận được giấy hẹn. <br>

                5. Kết thúc quy trình khám bệnh, bệnh nhân nhận toa thuốc và thanh toán tiền tại quầy thu ngân. <br>

                6. Bệnh nhân sử dụng thuốc theo toa và tái khám theo lịch hẹn của Bác sĩ (nếu có). <br>
            </p>
        </div>
    </div>
</div>