
<div class="container-fluid">
    <div class="navbar">
        <a href="" class="logo"><img src="../../../assets/images/conmat.png" alt=""></a>
        <hr class="hr-logo" />
        <a href="" class="name-logo">BỆNH VIỆN MẮT</a>
    </div>
    <hr>
    <div class="body">
        <h2 class="title">ĐĂNG NHẬP VÀO HỆ THỐNG</h2>
        <div class="login-form">
            <input type="text" class="form-control1" placeholder="Tên tài khoản">
        </div>
        <div class="login-form">
            <input type="text" class="form-control2" placeholder="Mật khẩu">
        </div>
        <button class="login-btn" type="submit">ĐĂNG NHẬP</button>
    </div>
    <div class="footer">
        <h6 class="info-footer">Copyright <img src="../../../assets/images/coppy.png" alt="" class="copyright"> 2021 by Công
            ty TNHH TM DV An Thiên Phúc</h6>
    </div>
    
</div>