<div class="container">
    <div class="row duongDan">
        <p><b>SẢN PHẨM MẮT KÍNH/ </b> <b style="color: #01A0C7;">CHI TIẾT MẮT KÍNH</b></p>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="cardX">
                1
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="cardX">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h5><b>Mắt kính XXX Califonia 3.5 độ</b></h5>
                        </div>
                        <div class="col-12">
                            <h6 style="color: red;">200.000 Vnđ</h6>
                        </div>
                        <div class="col-12">
                            <p><i class="fas fa-gifts"></i> Quà tặng kèm</p>
                            <p>- Hộp kính cao cấp</p>
                            <p>- Khăn lau, nước rửa kính</p>
                        </div>
                        <div class="col-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-10">
                                        <button>THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
