<div class="container-fluid mt-5 home-page">
      <a class="glass" routerLink="MatKinh"><i class="fas fa-glasses"></i>Mắt kính</a>
      <a class="people" routerLink="BenhNhan"><i class="fas fa-users"></i>Bệnh nhân</a>
    <!-- <a routerLink="login" class="btn btn-outline-secondary">Thêm tài khoản</a> &nbsp;
    <a routerLink="BenhNhan" class="btn btn-outline-warning">Hiển thị danh sách tài khoản</a>
    <a routerLink="MatKinh" class="btn btn-outline-warning">Hiển thị quản lí mắt kính</a>
    <a routerLink="matkinh" class="btn btn-outline-warning">Hiển thị quản lí</a> -->
    <router-outlet></router-outlet>
</div>