<div class="container">
    <div class="row duongDan mb-4">
        <p><b>BỆNH VIỆN MẮT/ </b> <b style="color: #01A0C7;">HƯỚNG DẪN</b></p>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Hướng dẫn thanh toán nhanh chóng, hiện đại và tiện lợi</h3>
        </div>
        <div class="col-12">
            <img src="../../../assets/images/huongDan.png" alt="">
        </div>
        <div class="col-12 mt-2">
            <b>Khi đến thăm khám và điều trị tại Hệ thống Mắt Sài Gòn, Quý khách có thể linh hoạt lựa chọn các phương thức thanh toán nhanh chóng, <br> hiện đại và tiện lợi sau đây:</b>
            <br><br>
            <p>1. Tiền mặt</p>
            <p>2. THANH TOÁN QUA THẺ ATM HOẶC THẺ TÍN DỤNG: tất cả các bệnh viện thuộc hệ thống Mắt Sài Gòn đều có trang bị máy POS và chấp nhận thẻ của tất cả các <br> ngân hàng tại Việt Nam.</p>
            <p>3. CHUYỂN KHOẢN: Quý khách cũng có thể chuyển khoản cho các Bệnh viện theo thông tin dưới đây:</p>
            <p> * Sacombank: 060259896565 - BỆNH VIỆN MẮT<br> * Argibank: 003642545522 - BỆNH VIỆN MẮT</p>
        </div>
    </div>
</div>
