<div class="container">
    <div class="row duongDan">
        <p><b>BỆNH VIỆN MẮT/ </b> <b style="color: #01A0C7;">ĐẶT LỊCH KHÁM</b></p>
    </div>  
    <div class="container-fluid cardTong">
        <div class="row px-0">
            <div class="col-md-6 col-sm-12 cardOne text-center">
                <img src="../../assets/images/logo_trang1.png" alt="Logo" width="203.25" height="94.25" class="mt-4">
                <div class="huongDan">
                    <p><i class="fas fa-hand-point-right" style="color: yellow; font-size: 25px;"></i> Lịch hẹn chỉ có hiệu lực khi Quý khách được xác nhận chính thức từ Bệnh viện thông qua điện thoại hoặc Email.</p>
                    <p><i class="fas fa-hand-point-right" style="color: yellow; font-size: 25px;"></i> Quý khách sử dụng dịch vụ đặt hẹn trực tuyến, vui lòng đặt hẹn ít nhất 24h trước khi đến khám.</p>
                    <p><i class="fas fa-hand-point-right" style="color: yellow; font-size: 25px;"></i> Quý khách vui lòng cung cấp thông tin chính xác để được hỗ trợ nhanh chóng và kịp thời.</p>
                    <p><i class="fas fa-hand-point-right" style="color: yellow; font-size: 25px;"></i> Trường hợp khẩn cấp hay có triệu chứng nguy hiểm vui lòng liên hệ trực tiếp cơ sở y tế để được xử lý.</p>
                </div>
                <div class="hotLine">
                    HOTLINE: 0123456789
                </div>
            </div>
            <div class="col-md-6 col-sm-12 cardTwo mt-3 text-center">
                <h4>ĐẶT LỊCH KHÁM BỆNH</h4>
                <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()" class="mb-3">
                    <nz-form-control  nzErrorTip="Bạn phải nhập họ tên!">
                        <nz-input-group class="inputContent">
                            <p>Họ tên</p>
                            <input nz-input type="text" style="text-align: left;" formControlName="hoTen" required/>
                        </nz-input-group>

                        <nz-input-group class="inputContent">
                            <p>Ngày sinh</p>
                            <nz-date-picker style="width: 100%;" formControlName="ngaySinh" required></nz-date-picker>
                        </nz-input-group>

                        <nz-input-group class="inputContent">
                            <p>Địa chỉ</p>
                            <input nz-input type="text" style="text-align: left;" formControlName="diaChi" required/>
                        </nz-input-group>

                        <nz-input-group class="inputContent">
                            <p>Phone</p>
                            <input nz-input type="text" style="text-align: left;" formControlName="sdt" required/>
                        </nz-input-group>

                        <nz-input-group class="inputContent">
                            <p>Email</p>
                            <input nz-input type="text" style="text-align: left;" formControlName="email" required/>
                        </nz-input-group>

                        <nz-input-group class="inputContent">
                            <p>Ngày đặt hẹn</p>
                            <nz-date-picker style="width: 100%;" formControlName="ngayDatHen" required></nz-date-picker>
                        </nz-input-group>

                        <nz-input-group class="inputContent">
                            <p>Nội dung khám</p>
                            <textarea style="text-align: left;" formControlName="ndKham" nz-input rows="4" placeholder="Nhập nội dung khám" required></textarea>
                        </nz-input-group>
                    </nz-form-control>

                    <nz-form-control>
                        <button nz-button nzType="primary" [disabled]="!validateForm.valid" (click)="hienThongBao()">ĐẶT LỊC KHÁM</button>
                    </nz-form-control>
                </form>
            </div>
        </div>
    </div>
</div>
