<div class="container" style="text-align: justify;">
    <div class="row duongDan mb-4">
        <p><b>BỆNH VIỆN MẮT/ </b> <b style="color: #01A0C7;">VỀ CHÚNG TÔI</b></p>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <h4>1. Giới thiệu chung.</h4>
            <p>Được thành lập vào năm 2004, trải qua 17 năm hình thành phát triển, với 8 Bệnh viện và 2 Trung tâm nhãn khoa, Phòng khám trải dài khắp 3 miền trên toàn quốc, Hệ thống Bệnh viện Mắt Sài Gòn tự hào là Hệ thống Bệnh viện chuyên khoa Mắt lớn nhất Việt Nam. Quy tụ đội ngũ hơn 500 Bác sĩ, Nhân viên Y tế giỏi chuyên môn, giàu kinh nghiệm; cùng cơ sở vật chất, thiết bị y khoa hiện đại nhập khẩu trực tiếp từ Mỹ, Châu Âu và tâm nguyện toàn tâm, toàn lực chăm sóc thị lực đôi mắt Việt; thương hiệu Mắt Sài Gòn đã trở thành lựa chọn tin cậy của gia đình Việt trên khắp cả nước trong việc khám, điều trị, phục hồi và chăm sóc sức khỏe đôi mắt. Đến nay, Hệ thống Bệnh viện Mắt Sài Gòn thăm khám cho hơn 3.4 triệu khách hàng và phẫu thuật thành công mang lại đôi mắt sáng khỏe cho hơn 660.000 bệnh nhân. Ngoài ra, bệnh viện cũng là nơi tiếp nhận và điều trị thành công những ca bệnh khó từ các đơn vị bệnh viện khác.</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <h4>2. Sứ mệnh.</h4>
            <p>Dẫn đầu ngành Mắt cho người dân Việt Nam bằng cách ứng dụng những kỹ thuật tiên tiến, là nơi có chất lượng y khoa chuẩn mực, nơi làm việc thân thiện, năng động và môi trường luôn học tập tiến bộ cho các bác sĩ điều dưỡng và mọi nhân viên, nhằm đưa lại kết quả điều trị tốt nhất.</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <h4>3. Giá trị cốt lõi.</h4>
            <p>Trong năm 2021, MSG đã định hình 06 giá trị cốt lõi, gọi tắt là P-CARES, là nền tảng và chuẩn mực cho mọi hoạt động, bao gồm:</p>
            <p><b>Patient Centricity – Bệnh nhân là trung tâm</b></p>
            <p>Chúng ta đồng hành cùng bệnh nhân, nỗ lực thấu hiểu nhu cầu của bệnh nhân và cung cấp những giải pháp tốt nhất, hiệu quả nhất cho bệnh nhân. Mọi hoạt động của chúng ta đều đặt lợi ích của bệnh nhân lên hàng đầu.</p>
            <p><b>Compliance – Tuân thủ các quy định & chuẩn mực</b></p>
            <p>Chúng ta suy nghĩ điều đúng và làm điều đúng. Mọi hành động của chúng ta đều hướng đến sự chính trực và minh bạch trên phương châm bệnh nhân là trung tâm và sử dụng các chính sách, chuẩn mực của Tập đoàn làm định hướng hoạt động.</p>
            <p><b>Accountability – Tinh thần trách nhiệm</b></p>
            <p>Chúng ta chịu trách nhiệm với người bệnh, với đồng nghiệp, với tổ chức, với bản thân chúng ta và với các kết quả của chính mình tạo ra. Chúng ta trân trọng và thực hiện đúng các cam kết với người bệnh và với nhau vì mục tiêu chung.</p>
            <p><b>Respect – Tôn trọng & đoàn kết</b></p>
            <p>Chúng ta trân trọng sự đa dạng và các giá trị, phẩm giá của mỗi người. Chúng ta luôn cố gắng để thấu hiểu và lắng nghe một cách tích cực những mối quan tâm và quan điểm của người khác. Cùng nhau, chúng ta hợp tác giải quyết các vấn đề trên cơ sở tôn trọng các cá nhân.</p>
            <p><b>Excellence – Chuẩn mực xuất sắc</b></p>
            <p>Chúng ta luôn tìm kiếm những cách thức mới và tốt hơn để không ngừng phát triển và cải tiến liên tục. Chúng ta tập trung vào những điều tích cực và những hành động có thể thực hiện để phát triển hướng đến những chuẩn mực xuất sắc.</p>
            <p><b>Sympathy – Sự thấu cảm</b></p>
            <p>Chúng ta thấu hiểu bằng trái tim và yêu thương bằng hành động. Chúng ta luôn đặt mình vào vị trí của người khác để cảm nhận những gì người khác cảm nhận và thấu hiểu những điều người khác suy nghĩ.</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <h4>4. Tầm nhìn.</h4>
            <p>Trở thành hệ thống bệnh viện chuyên khoa Mắt ngoài công lập hàng đầu tại Việt Nam được cộng đồng tín nhiệm trên cơ sở cung cấp dịch vụ Y tế chất lượng cao và dịch vụ chăm sóc khách hàng tốt nhất.</p>
        </div>
    </div>
</div>