<div class="container-fluid footer">
    <div class="row">
        <div class="col-xl-3 col-lg-12 logo text-center">
            <img src="../../../assets/images/logo_trang.png" alt="Logo" width="373px" height="185px">
        </div>
        <div class="col-xl-3 col-lg-12 pt-5">
            <span>DỊCH VỤ</span>
            <ul>
                <li routerLink="">Khám mắt</li>
                <li routerLink="">Phẫu thuật khúc xạ</li>
                <li routerLink="">Tạo hình thẩm mỹ</li>
                <li routerLink="">Điều trị tật khúc xạ</li>
                <li routerLink="">Cắt kính cận thị, viễn thị</li>
                <li routerLink="">Sản phẩm mắt kính</li>
                <li routerLink="qlbackend">Quản lý</li>
            </ul>
        </div>
        <div class="col-xl-3 col-lg-12 pt-5">
            <span>VỀ CHÚNG TÔI</span>
            <ul>
                <li routerLink="">Hệ thống</li>
                <li routerLink="">Đội ngũ bác sĩ</li>
                <li routerLink="">Trang thiết bị</li>
            </ul>
        </div>
        <div class="col-xl-3 col-lg-12 pt-5">
            <span>LIÊN HỆ</span>
            <ul>
                <li><i class="fas fa-phone-alt"></i><a href="#">039 269 xxx</a></li>
                <li><i class="far fa-envelope"></i><a href="mailto:abcbv@gmail.com">abcbv@gmail.com</a></li>
                <li><i class="fab fa-facebook-square"></i><a href="https://www.facebook.com">https://www.facebook.com</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid copyRight">
    CopyRight &copy; 2021 by Công ty TNHH TM DV An Thiên Phúc
</div>