<div class="container">
    <div class="row duongDan">
        <p><b>BỆNH VIỆN MẮT/ </b> <b style="color: #01A0C7;">SẢN PHẨM MẮT KÍNH</b></p>
    </div>
    <div class="row tieuDe">
        <h3>CHỌN MẮT KÍNH PHÙ HỢP VỚI BẠN</h3>
    </div>

    <div class="row mt-5">
        <div class="row mt-5 ">
            <div class="col-xl-4 col-lg-12 text-center mb-5" *ngFor="let item of readData.slice(0,9);">
                <div class="cardSP">
                  <div class="sanPham text-center">
                    <img src="https://firebasestorage.googleapis.com/v0/b/qlweb-c8a47.appspot.com/o{{item.hinhSP}}?alt=media&token=11d84b6e-ba6e-46b1-944c-8f1138dc415c" alt="Sản phẩm" width="80%" height="80%" style="padding-top: 30px;">
                  </div>
                  <div class="moTa">
                    <br>
                    <h6>{{item.tenKinh}}</h6>
                    <br>
                    <p><i class="fas fa-hand-holding-usd"></i>{{item.giaBan}}</p>
                    <br>
                    <button id="muaSP" [routerLink]="['/matkinh/chiTietMatKinh', item.maKinh]">MUA</button>
                  </div>
                </div>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <button id="xemThem" routerLink="/matkinh/allSanPham">XEM THÊM</button>
        </div>
    </div>
</div>