<!-- Banner -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/banner1 fainal.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/banner1 fainal.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/banner1 fainal.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- ChaoMung -->
<div class="container-fluid chaoMung">
  <div class="row">
    <div class="col-12 titleCM">
      <h5 class="title2CM">CHÀO MỪNG ĐẾN VỚI HỆ THỐNG ĐĂNG KÝ KHÁM - TƯ VẤN - THẨM MỸ VỀ MẮT</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-12 cardCM">
      <div class="cardCT">
        <div class="hinhTron">
          <i class="fa fa-user-md" aria-hidden="true"></i>
        </div>
        <h5 class="title2CM">BÁC SĨ KINH NGHIỆM</h5>
        <p>Đội ngũ bác sĩ là chuyên gia nhãn khoa với nền tảng chuyên môn vững chắc, giàu kinh nghiệm và y đức.</p>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12 cardCM">
      <div class="cardCT">
        <div class="hinhTron">
          <i class="fa fa-television" aria-hidden="true"></i>
        </div>
        <h5 class="title2CM">CÔNG NGHỆ HIỆN ĐẠI</h5>
        <p>Hệ thống trang thiết bị hiện đại bậc nhất được nhập khẩu từ các nước Anh, Mĩ, Đức.</p>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12 cardCM">
      <div class="cardCT">
        <div class="hinhTron">
          <i class="fa fa-hospital-o" aria-hidden="true"></i>
        </div>
        <h5 class="title2CM">HỆ THỐNG RỘNG KHẮP</h5>
        <p>Nhiều bệnh viện phủ khắp từ Bắc vào Nam, thuận tiện cho người dân trên khắp cả nước.</p>
      </div>
    </div>
  </div>
</div>
<!-- SuMenh -->
<div class="container">
  <div class="row">
    <div class="col-xl-4 col-lg-12 mt-5 mb-5">
      <img src="../../../assets/images/doctor.png">
    </div>
    <div class="col-xl-8 col-lg-12">
      <h5 class="title2CM" style="margin-top: 150px;">SỨ MỆNH CỦA CHÚNG TÔI</h5>
      <p>Tính tỉ mỉ, chuẩn xác và hiệu quả trong thăm khám, điều trị. Nét ân cần, thấu cảm trong chăm sóc. <br> Chúng
        tôi
        luôn tâm niệm làm tất cả những gì tốt nhất để chăm sóc cho sức khỏe đôi mắt của bạn và những người thân yêu.</p>
    </div>
  </div>
</div>
<!-- DichVuNoiBat -->
<div class="container DVNBat">
  <div class="row">
    <div class="col-xl-3 col-lg-12">
      <div class="cardDV">
        <img src="../../../assets/images/icons8_eye_60px.png" alt="">
        <h5 class="title2CM" style="margin-top: 25px;">KHÁM MẮT</h5>
        <p>Khám, chuẩn đoán và điều trị ngoại trú các bệnh lý về mắt cũng như thực hiện các trung, tiểu phẫu về mắt.</p>
      </div>
    </div>
    <div class="col-xl-3 col-lg-12">
      <div class="cardDV">
        <img src="../../../assets/images/icons8_Blockchain_Technology_64px.png" alt="">
        <h5 class="title2CM" style="margin-top: 20px;">ĐIỀU TRỊ TẬT KHÚC XẠ</h5>
        <p>Kiểm tra thị lực và đo độ khúc xạ, điều trị và kiểm soát các tật khúc xạ như cận thị, viễn thị, loạn thị.</p>
      </div>
    </div>
    <div class="col-xl-3 col-lg-12">
      <div class="cardDV">
        <img src="../../../assets/images/icons8_eye_disease_60px.png" alt="">
        <h5 class="title2CM" style="margin-top: 25px;">PHẪU THUẬT CƯỜM NƯỚC</h5>
        <p>Phẫu thuật Glaucoma cắt bè củng-giác mạc hoặc phẫu thuật laser cắt mống mắt chu biên, điều trị tăng nhãn áp
          do áp suất của thủy dịch.</p>
      </div>
    </div>
    <div class="col-xl-3 col-lg-12">
      <div class="cardDV">
        <img src="../../../assets/images/icons8_show_space_warps_64px.png" alt="">
        <h5 class="title2CM" style="margin-top: 20px;">PHẪU THUẬT KHÚC XẠ</h5>
        <p>Điều trị khúc xạ bằng các phương pháp hiện đại sử dụng laser như LASIK, STREAMLIGHT, FEMTOSECOND LASIK,
          RELEX, SMILE, ...</p>
      </div>
    </div>
  </div>
</div>
<!-- DoiNguBacSi -->
<div class="container DNBSi">
  <div class="row">
    <div class="col-12">
      <h5 class="title2CM" style="margin-top: 145px; text-align: center;">ĐỘI NGŨ BÁC SĨ</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-12">
      <div class="cardBS">
        <div class="avatar"></div>
        <h6>BS.Nguyễn Văn Anh</h6>
        <p>Trưởng khoa mắt bệnh viện Nhiệt Đới</p>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12">
      <div class="cardBS">
        <div class="avatar"></div>
        <h6>BS.Trần Anh Tuấn</h6>
        <p>Phó khoa mắt bệnh viện Nhiệt Đới</p>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12">
      <div class="cardBS">
        <div class="avatar"></div>
        <h6>BS.Lê Văn Nguyện</h6>
        <p>Trưởng khoa mắt bệnh viện An Thanh</p>
      </div>
    </div>
  </div>
</div>
<!-- Một số sản phẩm -->
<div class="container sanPamMK">
  <div class="row">
    <div class="col-12">
      <h5 class="title2CM" style="margin-top: 145px; text-align: center;">MỘT SỐ SẢN PHẨM MẮT KÍNH</h5>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-4 col-lg-12 text-center mb-5">
      <div class="cardSP">
        <div class="sanPham text-center">
          <img src="../../../assets/images/kinh11.png" alt="Sản phẩm" width="80%" height="80%" style="padding-top: 30px;">
        </div>
        <div class="moTa">
          <br>
          <h6>Mắt kính Canada 30 độ</h6>
          <br>
          <p><i class="fas fa-hand-holding-usd"></i> 200.000 Vnđ</p>
          <br>
          <button id="muaSP">MUA</button>
        </div>
      </div>
    </div>
    
    <div class="col-xl-4 col-lg-12 text-center mb-5">
      <div class="cardSP">
        <div class="sanPham text-center">
          <img src="../../../assets/images/kinh11.png" alt="Sản phẩm" width="80%" height="80%" style="padding-top: 30px;">
        </div>
        <div class="moTa">
          <br>
          <h6>Mắt kính Canada 30 độ</h6>
          <br>
          <p><i class="fas fa-hand-holding-usd"></i> 200.000 Vnđ</p>
          <br>
          <button id="muaSP">MUA</button>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12 text-center mb-5">
      <div class="cardSP">
        <div class="sanPham text-center">
          <img src="../../../assets/images/kinh11.png" alt="Sản phẩm" width="80%" height="80%" style="padding-top: 30px;">
        </div>
        <div class="moTa">
          <br>
          <h6>Mắt kính Canada 30 độ</h6>
          <br>
          <p><i class="fas fa-hand-holding-usd"></i> 200.000 Vnđ</p>
          <br>
          <button id="muaSP">MUA</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Tư vấn khám chữa bệnh-->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <h5 class="title2CM" style="margin-top: 145px;">TƯ VẤN KHÁM CHỮA BỆNH CHUẨN XÁC, HIỆU QUẢ CAO, NHANH CHÓNG</h5>
      <br>
      <p>Đội ngũ y bác sĩ đầu ngành và giàu kinh nghiệm mang đến cho bạn những lời khuyên chuẩn xác và phù hợp nhất với tình trạng mỗi cá nhân</p>
    </div>
    <div class="col-md-8 col-sm-12 text-center">
      <img src="../../../assets/images/bacsi.png" alt="" style="float: right;" id="xxx">
    </div>
  </div>
</div>