<h1 class="text-blue ">Quản lí mắt kính</h1>
<div class="container mt-5 text-blue bordered ma-left">
    <div class="title">Danh sách mắt kinh<i class="fas fa-plus-circle" (click)="showModal()"></i></div>
    <table class="table text-blue">
        <thead>
            <tr>
                <th scope="col">Mã số</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Độ cận</th>
                <th scope="col">Chất liệu</th>
                <th scope="col">Màu sắc</th>
                <th scope="col">Loại gọng</th>
                <th scope="col">Giá bán</th>
                <th scope="col">Bảo hành</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col" class="none-border">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of readData">
                <th class="td-mod" scope="row">{{item.maKinh}}</th>
                <td>{{item.tenKinh}} </td>
                <td>{{item.doCan}}</td>
                <td>{{item.chatLieu}}</td>
                <td>{{item.mauSac}}</td>
                <td>{{item.loaiGong}}</td>
                <td>{{item.giaBan}}</td>
                <td>{{item.baoHanh}}</td>
                <td><img src="https://firebasestorage.googleapis.com/v0/b/qlweb-c8a47.appspot.com/o{{item.hinhSP}}?alt=media&token=11d84b6e-ba6e-46b1-944c-8f1138dc415c" alt=""></td>

                <td class="none-border">
                    <button nz-button nzType="primary" (click)="showModal1()" [routerLink]="['/MatKinh', item.maKinh]"
                        class="margin-5">Sửa</button>
                    <button nz-button nzType="primary" (click)="showModal2()" [routerLink]="['/MatKinh', item.maKinh]"
                        class="margin-5">Chi tiết</button>
                    <button nz-button nzType="primary" nzDanger (click)="showDeleteConfirm()"
                        [routerLink]="['/MatKinh', item.maKinh]">Delete</button>
                </td>
                <!-- Đây là cái thêm kính :v -->
                <nz-modal nzWidth=800px [(nzVisible)]="isVisible" nzTitle="Chỉnh sửa thông tin"
                    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                    <form action="" [formGroup]="userForm">
                        <ng-container *nzModalContent>
                            <div class="line1">
                                <div class="inputContent">
                                    <p>Tên kính</p>
                                    <input nz-input placeholder="Nhập Tên kính" formControlName="tenKinh" />
                                </div>
                                <div class="inputContent">
                                    <p>Độ cận</p>
                                    <input nz-input placeholder="Nhập số Độ cận" formControlName="doCan" />
                                </div>
                            </div>
                            <div class="line1">
                                <div class="inputContent">
                                    <p>Chất liệu</p>
                                    <input nz-input placeholder="Nhập số Độ cận" formControlName="chatLieu" />
                                </div>

                                <div class="inputContent">
                                    <p>Màu sắc</p>
                                    <input nz-input placeholder="abc@gmail.com" formControlName="mauSac" />
                                </div>
                            </div>
                            <div class="line1">
                                <div class="inputContent">
                                    <p>Loại gọng</p>
                                    <input nz-input placeholder="Nhập địa chỉ" formControlName="loaiGong" />
                                </div>
                                <div class="inputContent">
                                    <p>Giá</p>
                                    <input nz-input placeholder="Nhập số Độ cận" formControlName="giaBan" />
                                </div>
                            </div>
                            <div class="line1">
                                <div class="inputContent">
                                    <p>Bảo hành</p>
                                    <input nz-input placeholder="Nhập số Độ cận" formControlName="baoHanh" />
                                </div>
                                <div class="inputContent">
                                    <input type="file" (change)="hinh($event)" accept="*.png.jpg">
                                </div>
                               
                            </div>
                            <div class="line1">
                                <div class="inputContent">
                                    <p class="">Mã phiếu khám</p>
                                    <input nz-input placeholder="Nhập số Độ cận" formControlName="maPhieuKham" />
                                </div>
                            </div>
                        </ng-container>
                    </form>
                </nz-modal>
                <!-- Đây là cái sửa (hay còn gọi là ... :v) -->
                <nz-modal nzWidth=800px [(nzVisible)]="isVisible1" nzTitle="Chỉnh sửa thông tin"
                    (nzOnCancel)="handleCancel1()" (nzOnOk)="handleOk1()">
                    <form action="" [formGroup]="userForm">
                        <ng-container *nzModalContent>
                            <div class="line1">
                                <div class="inputContent">
                                    <p>Tên kính</p>
                                    <input nz-input placeholder="Nhập Tên kính" formControlName="tenKinh" />
                                </div>
                                <div class="inputContent">
                                    <p>Độ cận</p>
                                    <input nz-input placeholder="Nhập số Độ cận" formControlName="doCan" />
                                </div>
                            </div>
                            <div class="line1">
                                <div class="inputContent">
                                    <p>Chất liệu</p>
                                    <input nz-input placeholder="Nhập số Độ cận" formControlName="chatLieu" />
                                </div>

                                <div class="inputContent">
                                    <p>Màu sắc</p>
                                    <input nz-input placeholder="abc@gmail.com" formControlName="mauSac" />
                                </div>
                            </div>
                            <div class="line1">
                                <div class="inputContent">
                                    <p>Loại gọng</p>
                                    <input nz-input placeholder="Nhập địa chỉ" formControlName="loaiGong" />
                                </div>
                                <div class="inputContent">
                                    <p>Giá</p>
                                    <input nz-input placeholder="Nhập số Độ cận" formControlName="giaBan" />
                                </div>
                            </div>
                            <div class="line1">
                                <div class="inputContent">
                                    <p>Bảo hành</p>
                                    <input nz-input placeholder="Nhập số Độ cận" formControlName="baoHanh" />
                                </div>
                                <div class="inputContent">
                                    <!-- <img src="/{{item.Hinh}}" alt=""> -->
                                </div>
                            </div>
                            <div class="line1">
                                <div class="inputContent">
                                    <p class="">Mã phiếu khám</p>
                                    <input nz-input placeholder="Nhập số Độ cận" formControlName="maPhieuKham" />
                                </div>
                                <div class="inputContent">
                                    <!-- <img src="https://firebasestorage.googleapis.com/v0/b/qlweb-c8a47.appspot.com/o{{item.hinhSP}}?alt=media&token=11d84b6e-ba6e-46b1-944c-8f1138dc415c""" alt=""> -->
                                </div>
                            </div>
                            <!-- <button type="submit" class="datLich">ĐẶT LỊCH KHÁM</button> -->
                        </ng-container>
                    </form>
                </nz-modal>
                <!-- Đây là phần nút chi tiết -->
                <nz-modal nzWidth=800px [(nzVisible)]="isVisible2" nzTitle="Chỉnh sửa thông tin"
                    (nzOnCancel)="handleCancel2()" (nzOnOk)="handleOk2()">
                    <form action="" [formGroup]="userForm">
                        <ng-container *nzModalContent>
                            <div class="line1">
                                <div class="inputContent">
                                    <p>Tên kính</p>
                                    <input nz-input placeholder="Nhập Tên kính" formControlName="tenKinh" readonly />
                                </div>
                                <div class="inputContent">
                                    <p>Số Độ cận</p>
                                    <input nz-input placeholder="Nhập số Độ cận" formControlName="doCan" readonly />
                                </div>

                            </div>
                            <div class="line1">
                                <div class="inputContent">
                                    <p>Chất liệu</p>
                                    <input nz-input placeholder="Nhập số chất liệu" formControlName="chatLieu" />
                                </div>

                                <div class="inputContent">
                                    <p>Màu sắc</p>
                                    <input nz-input placeholder="Màu sắc" formControlName="mauSac" readonly />
                                </div>
                            </div>
                            <div class="line1">
                                <div class="inputContent">
                                    <p>Loại gọng</p>
                                    <input nz-input placeholder="Nhập loại gọng" formControlName="loaiGong" readonly />
                                </div>
                                <div class="inputContent">
                                    <p>Giá bán</p>
                                    <input nz-input placeholder="Nhập giá bán" formControlName="giaBan" />
                                </div>
                            </div>
                            <div class="line1">
                                <div class="inputContent">
                                    <p>Bảo hành</p>
                                    <input nz-input placeholder="Nhập số Độ cận" formControlName="baoHanh" />
                                </div>
                                <div class="inputContent">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/qlweb-c8a47.appspot.com/o{{item.hinhSP}}?alt=media&token=11d84b6e-ba6e-46b1-944c-8f1138dc415c" alt="">
                                </div>
                            </div>
                            <div class="line1">
                                <div class="inputContent">
                                    <p class="">Mã phiếu khám</p>
                                    <input nz-input placeholder="Nhập số Độ cận" formControlName="maPhieuKham" />
                                </div>
                            </div>
                            <!-- <button type="submit" class="datLich">ĐẶT LỊCH KHÁM</button> -->
                        </ng-container>
                    </form>
                </nz-modal>
            </tr>
        </tbody>
    </table>
</div>
<div class="total ma-left">Tổng số mắt kinh: </div>